<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<appSettings>
  <add key="WEBSITElISTENER" value="true"/>
  <add key ="GETSCRIPTURL" value="http://localhost:50772/ControllerWebSite/get.aspx?by=ws"/>
  <add key ="POSTSCRIPTURL" value="http://localhost:50772/ControllerWebSite/post.aspx?by=zmb"/>
  <add key ="WAIT_TIMESPAN_SECONDS" value="5"/>
</appSettings>    
</configuration>
